@charset "utf-8";

// ==================================
//　サイトの基本設定　変数
// ==================================

// 色関係の設定 -----------------------
	$colorType01: #f1fce4;	//ベースカラー　　　　　薄い緑
	$colorType02: #009261;	//メインカラー　　　　　濃い緑
	$colorType03: #262e66;	//アクセントカラー2　　　濃い青
	$colorType04: #854834;	//アクセントカラー2　　　濃い茶　　　
	$colorType05: #ae0079;	//強調 赤　　
	$colorType05: #9bba63;	//緑

	$color-link: #ede78d;	//リンクカラー　　　　　黄土色
	$color-link-l: #ccc;	//リンクカラー薄い
	$color-link-d: #000;	//リンクカラー濃い

// フォント関係の設定 -----------------------
	$sansSerif: "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif;
	$serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

// 余白設定 -----------------------
	$spaceSize: 1.8rem;

// ブレイクポイント -----------------------
	$breakpoints: (
		xs:"print, screen and (min-width: 321px)",
		s:"print, screen and (min-width: 576px)",
		m:"print, screen and (min-width: 768px)",
		l:"print, screen and (min-width: 992px)",
		xl:"print, screen and (min-width: 1200px)",
	);
	@mixin media($breakpoint){
		@media #{map-get($breakpoints,$breakpoint)}{
			@content;
		}
	}

// z-index 設定 -----------------------
	$layer: (
		modal: 100,
		header: 20,
		tooltip: 10,
		default: 1
	);
	@mixin z-index($key){
		z-index:map-get($layer,$key);
	}

// ページ個別設定 -----------------------
	$pageNameList: company, consultation, contact, cost, cuisine, flow, funeral, hall, offering, question ;