@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wyoqyt');
  src:  url('../fonts/icomoon.eot?wyoqyt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wyoqyt') format('truetype'),
    url('../fonts/icomoon.woff?wyoqyt') format('woff'),
    url('../fonts/icomoon.svg?wyoqyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone-square:before {
  content: "\e904";
}
.icon-phone-o-l:before {
  content: "\e939";
}
.icon-phone-o-m:before {
  content: "\e938";
}
.icon-phone-o-b:before {
  content: "\e937";
}
.icon-phone:before {
  content: "\e936";
}
.icon-telephone-square:before {
  content: "\e935";
}
.icon-telephone-o-l:before {
  content: "\e934";
}
.icon-telephone-o-m:before {
  content: "\e933";
}
.icon-telephone-o-b:before {
  content: "\e932";
}
.icon-telephone:before {
  content: "\e931";
}
.icon-freedial-square:before {
  content: "\e930";
}
.icon-freedial-o-l:before {
  content: "\e92f";
}
.icon-freedial-o-m:before {
  content: "\e92e";
}
.icon-freedial-o-b:before {
  content: "\e92d";
}
.icon-freedial:before {
  content: "\e92c";
}
.icon-fax-square:before {
  content: "\e92b";
}
.icon-fax-o-l:before {
  content: "\e92a";
}
.icon-fax-o-m:before {
  content: "\e929";
}
.icon-fax-o-b:before {
  content: "\e928";
}
.icon-fax:before {
  content: "\e927";
}
.icon-envelope-square:before {
  content: "\e926";
}
.icon-envelope-o-l:before {
  content: "\e925";
}
.icon-envelope-o-m:before {
  content: "\e924";
}
.icon-envelope-o-b:before {
  content: "\e923";
}
.icon-envelope:before {
  content: "\e922";
}
.icon-mobile-square:before {
  content: "\e921";
}
.icon-mobile-o-l:before {
  content: "\e920";
}
.icon-mobile-o-m:before {
  content: "\e91f";
}
.icon-mobile-o-b:before {
  content: "\e91e";
}
.icon-mobile:before {
  content: "\e91d";
}
.icon-desktop-square:before {
  content: "\e91c";
}
.icon-desktop-o-l:before {
  content: "\e91b";
}
.icon-desktop-o-m:before {
  content: "\e91a";
}
.icon-desktop-o-b:before {
  content: "\e919";
}
.icon-desktop:before {
  content: "\e918";
}
.icon-laptop-square:before {
  content: "\e917";
}
.icon-laptop-o-l:before {
  content: "\e916";
}
.icon-laptop-o-m:before {
  content: "\e915";
}
.icon-laptop-o-b:before {
  content: "\e914";
}
.icon-laptop:before {
  content: "\e913";
}
.icon-print-square:before {
  content: "\e90d";
}
.icon-print-o-l:before {
  content: "\e90c";
}
.icon-print-o-m:before {
  content: "\e90b";
}
.icon-print-o-b:before {
  content: "\e90a";
}
.icon-print:before {
  content: "\e909";
}
.icon-calltell-square:before {
  content: "\e903";
}
.icon-calltell:before {
  content: "\e902";
}
.icon-sentmail-square:before {
  content: "\e901";
}
.icon-sentmail:before {
  content: "\e900";
}
.icon-calltell-oblong-square:before {
  content: "\e905";
}
.icon-sentmail-oblong-square:before {
  content: "\e906";
}
.icon-access-oblong-square:before {
  content: "\e907";
}
.icon-exit:before {
  content: "\e908";
}
.icon-exit-square:before {
  content: "\e90e";
}
.icon-runner:before {
  content: "\e90f";
}
.icon-runner-square:before {
  content: "\e910";
}
.icon-access-square:before {
  content: "\e911";
}
.icon-access:before {
  content: "\e912";
}
.icon-arrow-up:before {
  content: "\f062";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-arrow-down:before {
  content: "\f063";
}
.icon-arrow-left:before {
  content: "\f060";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-arrow-circle-o-up:before {
  content: "\f01b";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-arrow-circle-o-down:before {
  content: "\f01a";
}
.icon-arrow-circle-o-left:before {
  content: "\f190";
}
.icon-dot-circle-o:before {
  content: "\f192";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-ban:before {
  content: "\f05e";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-angle-double-up:before {
  content: "\f102";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-angle-double-down:before {
  content: "\f103";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-caret-square-o-up:before {
  content: "\f151";
}
.icon-toggle-up:before {
  content: "\f151";
}
.icon-caret-square-o-right:before {
  content: "\f152";
}
.icon-toggle-right:before {
  content: "\f152";
}
.icon-caret-square-o-down:before {
  content: "\f150";
}
.icon-toggle-down:before {
  content: "\f150";
}
.icon-caret-square-o-left:before {
  content: "\f191";
}
.icon-toggle-left:before {
  content: "\f191";
}
.icon-external-link-square:before {
  content: "\f14c";
}
.icon-share-square:before {
  content: "\f14d";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-arrow-circle-up:before {
  content: "\f0aa";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-down:before {
  content: "\f13a";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-plus-circle:before {
  content: "\f055";
}
.icon-minus-circle:before {
  content: "\f056";
}
.icon-times-circle:before {
  content: "\f057";
}
.icon-circle:before {
  content: "\f111";
}
.icon-circle-o:before {
  content: "\f10c";
}
.icon-circle-thin:before {
  content: "\f1db";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-exclamation-circle:before {
  content: "\f06a";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-mouse-pointer:before {
  content: "\f245";
}
.icon-arrows-alt:before {
  content: "\f0b2";
}
.icon-arrows:before {
  content: "\f047";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}
.icon-upload:before {
  content: "\f093";
}
.icon-asterisk:before {
  content: "\f069";
}
.icon-plus:before {
  content: "\f067";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-check:before {
  content: "\f00c";
}
.icon-minus:before {
  content: "\f068";
}
.icon-window-minimize:before {
  content: "\f2d1";
}
.icon-question:before {
  content: "\f128";
}
.icon-question-circle-o:before {
  content: "\f29c";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-search-minus:before {
  content: "\f010";
}
.icon-search:before {
  content: "\f002";
}
.icon-plus-square-o:before {
  content: "\f196";
}
.icon-plus-square:before {
  content: "\f0fe";
}
.icon-minus-square:before {
  content: "\f146";
}
.icon-glass:before {
  content: "\f000";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-music:before {
  content: "\f001";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-exclamation-triangle:before {
  content: "\f071";
}
.icon-warning:before {
  content: "\f071";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-th-large:before {
  content: "\f009";
}
.icon-th:before {
  content: "\f00a";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-list-ul:before {
  content: "\f0ca";
}
.icon-list-ol:before {
  content: "\f0cb";
}
.icon-tasks:before {
  content: "\f0ae";
}
.icon-power-off:before {
  content: "\f011";
}
.icon-signal:before {
  content: "\f012";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-trash-o:before {
  content: "\f014";
}
.icon-home:before {
  content: "\f015";
}
.icon-file-o:before {
  content: "\f016";
}
.icon-clone:before {
  content: "\f24d";
}
.icon-window-restore:before {
  content: "\f2d2";
}
.icon-window-maximize:before {
  content: "\f2d0";
}
.icon-times-rectangle:before {
  content: "\f2d3";
}
.icon-window-close:before {
  content: "\f2d3";
}
.icon-times-rectangle-o:before {
  content: "\f2d4";
}
.icon-window-close-o:before {
  content: "\f2d4";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-road:before {
  content: "\f018";
}
.icon-download:before {
  content: "\f019";
}
.icon-inbox:before {
  content: "\f01c";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-list-alt:before {
  content: "\f022";
}
.icon-flag:before {
  content: "\f024";
}
.icon-qrcode:before {
  content: "\f029";
}
.icon-barcode:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-share-square-o:before {
  content: "\f045";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-camera-retro:before {
  content: "\f083";
}
.icon-camera:before {
  content: "\f030";
}
.icon-video-camera:before {
  content: "\f03d";
}
.icon-image:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-ticket:before {
  content: "\f145";
}
.icon-film:before {
  content: "\f008";
}
.icon-step-backward:before {
  content: "\f048";
}
.icon-play-circle:before {
  content: "\f144";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-fast-backward:before {
  content: "\f049";
}
.icon-backward:before {
  content: "\f04a";
}
.icon-play:before {
  content: "\f04b";
}
.icon-pause:before {
  content: "\f04c";
}
.icon-stop:before {
  content: "\f04d";
}
.icon-forward:before {
  content: "\f04e";
}
.icon-fast-forward:before {
  content: "\f050";
}
.icon-step-forward:before {
  content: "\f051";
}
.icon-eject:before {
  content: "\f052";
}
.icon-random:before {
  content: "\f074";
}
.icon-retweet:before {
  content: "\f079";
}
.icon-pause-circle:before {
  content: "\f28b";
}
.icon-pause-circle-o:before {
  content: "\f28c";
}
.icon-stop-circle:before {
  content: "\f28d";
}
.icon-stop-circle-o:before {
  content: "\f28e";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-headphones:before {
  content: "\f025";
}
.icon-volume-off:before {
  content: "\f026";
}
.icon-volume-down:before {
  content: "\f027";
}
.icon-volume-up:before {
  content: "\f028";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-microphone-slash:before {
  content: "\f131";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-map-pin:before {
  content: "\f276";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-map:before {
  content: "\f279";
}
.icon-map-o:before {
  content: "\f278";
}
.icon-street-view:before {
  content: "\f21d";
}
.icon-plane:before {
  content: "\f072";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-cab:before {
  content: "\f1ba";
}
.icon-taxi:before {
  content: "\f1ba";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-train:before {
  content: "\f238";
}
.icon-subway:before {
  content: "\f239";
}
.icon-bus:before {
  content: "\f207";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-motorcycle:before {
  content: "\f21c";
}
.icon-bicycle:before {
  content: "\f206";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-bed:before {
  content: "\f236";
}
.icon-hotel:before {
  content: "\f236";
}
.icon-shower:before {
  content: "\f2cc";
}
.icon-bath:before {
  content: "\f2cd";
}
.icon-bathtub:before {
  content: "\f2cd";
}
.icon-s15:before {
  content: "\f2cd";
}
.icon-product-hunt:before {
  content: "\f288";
}
.icon-female:before {
  content: "\f182";
}
.icon-male:before {
  content: "\f183";
}
.icon-child:before {
  content: "\f1ae";
}
.icon-wheelchair:before {
  content: "\f193";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-moon-o:before {
  content: "\f186";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-shopping-bag:before {
  content: "\f290";
}
.icon-shopping-basket:before {
  content: "\f291";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-cart-plus:before {
  content: "\f217";
}
.icon-cart-arrow-down:before {
  content: "\f218";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-folder:before {
  content: "\f07b";
}
.icon-folder-open:before {
  content: "\f07c";
}
.icon-arrows-v:before {
  content: "\f07d";
}
.icon-arrows-h:before {
  content: "\f07e";
}
.icon-exchange:before {
  content: "\f0ec";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-square-o:before {
  content: "\f096";
}
.icon-minus-square-o:before {
  content: "\f147";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-folder-o:before {
  content: "\f114";
}
.icon-folder-open-o:before {
  content: "\f115";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-expeditedssl:before {
  content: "\f23e";
}
.icon-lock:before {
  content: "\f023";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-table:before {
  content: "\f0ce";
}
.icon-pencil-square:before {
  content: "\f14b";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-user-md:before {
  content: "\f0f0";
}
.icon-stethoscope:before {
  content: "\f0f1";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-building-o:before {
  content: "\f0f7";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-hospital-o:before {
  content: "\f0f8";
}
.icon-keyboard-o:before {
  content: "\f11c";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-flag-o:before {
  content: "\f11d";
}
.icon-fa:before {
  content: "\f2b4";
}
.icon-font-awesome:before {
  content: "\f2b4";
}
.icon-code:before {
  content: "\f121";
}
.icon-exclamation:before {
  content: "\f12a";
}
.icon-bullseye:before {
  content: "\f140";
}
.icon-ellipsis-h:before {
  content: "\f141";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-rss-square:before {
  content: "\f143";
}
.icon-compass:before {
  content: "\f14e";
}
.icon-building:before {
  content: "\f1ad";
}
.icon-archive:before {
  content: "\f187";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-file:before {
  content: "\f15b";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-file-text-o:before {
  content: "\f0f6";
}
.icon-file-pdf-o:before {
  content: "\f1c1";
}
.icon-file-word-o:before {
  content: "\f1c2";
}
.icon-file-excel-o:before {
  content: "\f1c3";
}
.icon-file-powerpoint-o:before {
  content: "\f1c4";
}
.icon-file-image-o:before {
  content: "\f1c5";
}
.icon-file-photo-o:before {
  content: "\f1c5";
}
.icon-file-picture-o:before {
  content: "\f1c5";
}
.icon-file-archive-o:before {
  content: "\f1c6";
}
.icon-file-zip-o:before {
  content: "\f1c6";
}
.icon-file-audio-o:before {
  content: "\f1c7";
}
.icon-file-sound-o:before {
  content: "\f1c7";
}
.icon-file-movie-o:before {
  content: "\f1c8";
}
.icon-file-video-o:before {
  content: "\f1c8";
}
.icon-file-code-o:before {
  content: "\f1c9";
}
.icon-history:before {
  content: "\f1da";
}
.icon-usb:before {
  content: "\f287";
}
.icon-sort-amount-asc:before {
  content: "\f160";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-tty:before {
  content: "\f1e4";
}
.icon-binoculars:before {
  content: "\f1e5";
}
.icon-newspaper-o:before {
  content: "\f1ea";
}
.icon-wifi:before {
  content: "\f1eb";
}
.icon-calculator:before {
  content: "\f1ec";
}
.icon-area-chart:before {
  content: "\f1fe";
}
.icon-pie-chart:before {
  content: "\f200";
}
.icon-line-chart:before {
  content: "\f201";
}
.icon-hourglass-3:before {
  content: "\f253";
}
.icon-hourglass-end:before {
  content: "\f253";
}
.icon-hourglass:before {
  content: "\f254";
}
.icon-thumbs-up:before {
  content: "\f164";
}
.icon-thumbs-down:before {
  content: "\f165";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-hand-o-left:before {
  content: "\f0a5";
}
.icon-hand-o-up:before {
  content: "\f0a6";
}
.icon-hand-o-down:before {
  content: "\f0a7";
}
.icon-hand-grab-o:before {
  content: "\f255";
}
.icon-hand-rock-o:before {
  content: "\f255";
}
.icon-hand-paper-o:before {
  content: "\f256";
}
.icon-hand-stop-o:before {
  content: "\f256";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.icon-hand-peace-o:before {
  content: "\f25b";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-comment:before {
  content: "\f075";
}
.icon-comments:before {
  content: "\f086";
}
.icon-wechat:before {
  content: "\f1d7";
}
.icon-weixin:before {
  content: "\f1d7";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-commenting-o:before {
  content: "\f27b";
}
.icon-sitemap:before {
  content: "\f0e8";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-book:before {
  content: "\f02d";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-envelope-open:before {
  content: "\f2b6";
}
.icon-envelope-open-o:before {
  content: "\f2b7";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-user:before {
  content: "\f007";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-user-plus:before {
  content: "\f234";
}
.icon-user-times:before {
  content: "\f235";
}
.icon-address-book:before {
  content: "\f2b9";
}
.icon-address-book-o:before {
  content: "\f2ba";
}
.icon-address-card:before {
  content: "\f2bb";
}
.icon-vcard:before {
  content: "\f2bb";
}
.icon-address-card-o:before {
  content: "\f2bc";
}
.icon-vcard-o:before {
  content: "\f2bc";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-id-badge:before {
  content: "\f2c1";
}
.icon-drivers-license:before {
  content: "\f2c2";
}
.icon-id-card:before {
  content: "\f2c2";
}
.icon-drivers-license-o:before {
  content: "\f2c3";
}
.icon-id-card-o:before {
  content: "\f2c3";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-instagram:before {
  content: "\f16d";
}
