#mailform  {
  @include media(m){
    display:block;
  }
  input {
    border:1px solid #ccc;
    width:95% !important;
    min-height:30px;
    display:block;
    outline: none;
    vertical-align:middle;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
  }
  input[type=radio] {
    display:inline;
    width:1em !important;
  }
  input[type=checkbox] {
    display:inline;
    width:1em !important;
  }
  input[type=submit] {
    background:none;
    padding:0.8rem;
    background:#D0E3FF;
    margin:0 0 20px;
    cursor: pointer;
  }
  input[type=reset] {
    background:none;
    padding:0.8rem;
    background:#F3DCEC;
    margin:0 0 20px;
    cursor: pointer;
  }
  textarea{
    border:1px solid #ccc;
    width:95% !important;
    min-height:30px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
  }
  dl{ 
    dt{
      @include media(m){
        width:30%; 
        float:left; 
        text-align:right; 
        border-top:#AAA solid 1px;
        clear:both;
        margin:0 0 0.8rem;
      }
      label{
        @include media(m){
          padding:0.8rem 20px; 
          display:block;
        }
      }
    }
    dd{ 
      line-height:2em; 
      padding:0 0 15px; 
      margin:0 0 0.8rem; 
      border-bottom:#E8E8E8 solid 1px;
      display:block; 
      @include media(m){
        width:65%; 
        float:left; 
        padding:0 0.8rem 0.8rem 0.8rem;
        border-bottom:none;
      }
    }
  }
}

.mailformBox{
  @include media(m){
    width:90%;
    margin:0 auto 30px;
    border:#D7D7D7 solid 5px;
    padding:40px 0 0 20px;
  }
}
