body {
	background: $colorType01;
	color: #333;
}

.clearfix{
	a{
		text-decoration:none;
		color: #000;
		&:hover{
			text-decoration:none;
			color: #DDD;
		}
	}
	p a:hover{
		text-decoration:underline;
	}
}

a.over {  
	-webkit-transition: 0.3s ease-in-out;  
    -moz-transition: 0.3s ease-in-out;  
    -o-transition: 0.3s ease-in-out;  
    transition: 0.3s ease-in-out;  
	&:hover{
		 filter: alpha(opacity=50);
		 -moz-opacity: 0.5;
		 opacity: 0.5;
	}
}

#pageTopFix.is-scroll{
	@include media(m){
		opacity: 0.85;
		background: rgba(255,255,255,0.8);
		z-index:1;
		overflow:hidden;
	}
}

.color{
	&--type01{
		color:$colorType05;
	}
	&--type02{
		color:$colorType01;
	}
}

.bg{
	&--type01{
		background:red;
	}
	&--type02{
		background:$colorType01;
	}
}

